#articles{
    .head_image{
        margin: 20px 0;
    }
    .category{
        margin-bottom: 30px;
        font-size: 16px;
    }
    h1.title{
        font-size: 30px;
        margin-bottom: 30px;
    }
    p.text{
        text-align: justify;
    }
    .description{
        margin-bottom: 40px;
    }
    .btns{

    }
}
