#auth{
    form{
        width: 70%;
        margin: 0 auto;
        box-shadow: $form-shadow;
        border-radius: 20px;
        background-color: $white;
        padding: 40px 60px 60px 60px;
        h1{
            margin-bottom: 30px;
            font-size: 30px;
            font-weight: 500;
        }
        input{
            border-right: 20px;
            background-color: $gray_semi1;
        }
        button{
            width: 100%;
        }
    }
}
