*{
    box-sizing: border-box;
    color: $primary;
    font-weight: 400;
}
.btn{

    &:hover{
        color: $white!important;
    }
}
.btn-sm{
    transition: color .3s, background-color .3s;
    &:hover{
        color: $white!important;
        background-color: $secondary_semi!important;
    }
}
input{

    &:focus{
        background-color: $secondary_light!important;
    }
}
.card{
    padding: 48px 40px;

}
.date{
    color: $gray_light;
}
a{
    text-decoration: none;
}

