*{
    box-sizing: border-box;
    color: $primary;
    font-weight: 400;
}
.btn{

    &:hover{
        color: $white!important;
    }
}

input{

    &:focus{
        background-color: $secondary_light!important;
    }
}
.card{
    padding: 48px 40px;

}
.date{
    color: $gray_light;
}
a{
    text-decoration: none;
}
.badge {
    background-color: $secondary_semi!important;
    color: $white!important;
}
